{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        },
        "debug": false
      }
    ],
    "babel-preset-react",
    "stage-2"
  ],
  "plugins": ["syntax-dynamic-import", "universal-import"],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    }
  }
}
