.Article {
  margin: 100px auto;
}

.Article .billboard {
  position: fixed;
  height: 500px;
  width: 100%;
  top: 30px;
  z-index: 0;
  background-color: #111;
  border-bottom: 4px solid white;
  background-size: cover;
  background-position: center center;
}

.Article h1 {
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  color: white;
  font-weight: 100;
  font-size: 4em;
  width: 820px;
  padding-left: 400px;
  padding-right: 40px;
  text-align: right;
  margin: 0 auto -13px auto;
  text-shadow: 0 0 20px black;
}
