.Article {
  margin: 200px auto;
}

.Article h1 {
  color: white;
  font-weight: 100;
  font-size: 4em;
  text-align: right;
  max-width: 820px;
  padding: 0 40px 0 400px;
  text-shadow: 0 0 20px black;
  margin: 0 auto -13px auto;
}

.Article .poster {
  position: fixed;
  top: 30px;
  height: 500px;
  width: 100%;
  z-index: -1;
  border-bottom: 4px solid white;
  background-position: center 0;
  background-size: cover;
}

@media (max-width: 768px) {
  .Article h1 {
    padding: 0;
  }
}
