.content {
  background-color: #ffffe0;
  box-shadow: 0 0 20px black;
  font-family: sans-serif;
  line-height: 1.5em;
  width: 740px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 10px;
  min-height: 100vh;
  z-index: 1;
  position: relative;
}

.content > h1 {
  font-size: 2em;
  color: black;
  text-shadow: none;
  text-align: left;
}
