.content {
  background-color: #ffffe0;
  box-shadow: 0 0 20px black;
  line-height: 2em;
  margin: 0 auto;
  padding: 40px;
  border-radius: 10px;
  z-index: 1;
  font-size: 1.2em;
  max-width: 740px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 40px;
}

.content img {
  width: 100%;
  padding: 10px;
  margin-top: 7px;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

@media (max-width: 640px) {
  .content {
    grid-gap: 0;
    grid-template-columns: 1fr;
    margin: 0 0 20px 0;
  }
}
