<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="profile">
      <img src="<%= require("./images/link.jpg") %>">
      <h1>Link's Journal</h1>
    </div>
  </body>
</html>
