!!! 5
%head
  %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
  %meta{:name=>"description", :content=>"Lawrence Whiteside is the motherfucking best dude ever!"}
  %meta{:name=>"keywords", :content=>"Web Developer, Javascript, Ruby, Rails Expert, Mobile Apps, Freelancer, Film, Cinema, Set, Free, Independent, Indy, Indie, Video, Production, Collective, Organization, Creative, Professional, Film School, Atlas, Web Application, Scheduler, Budget, Organize, Organization, Manage, Brooklyn, New York, Filmmaking, Filmmaker, Cooperative"}
  =csrf_meta_tag
  %link{:rel => "SHORTCUT ICON", :href=>"/images/shared/favicon.ico"}
  %title
    =(@title || "Lawrence Whiteside")
  =stylesheet_link_tag("home")
%body.home
  =yield
=js_framework(params[:fw])
-#=js_testing